<details class="left" open="">

<summary><h3>Machine Learning and Physics (Winter Term 2024) </h3> </summary>
<ul>
<li><a href="https://www.youtube.com/watch?v=HzHfbvgHFAI">15.10.2024: Course Intro to ML and Physics</a></li>
<li><a href="https://www.youtube.com/watch?v=Rw4SkHNW89c">15.10.2024: Linear Dimension Reduction – Principal Component Analysis</a></li>
<li><a href="https://www.youtube.com/watch?v=z1XgBHGVQhs">17.10.2024: Nonlinear Dimension Reduction – Connection to StatisticalMechanics (Part 1)</a></li>
<li><a href="https://www.youtube.com/watch?v=yDveStzXs1o">17.10.2024: Nonlinear Dimension Reduction – Connection to Statistical Mechanics (Part 2)</a></li>
<li><a href="https://www.youtube.com/watch?v=klmrdikBM5k">22.10.2024: Nonparametric Density Estimation</a></li>
<li><a href="https://www.youtube.com/watch?v=LoVocf35qHQ">22.10.2024: Cluster Analysis / Mean Shift</a></li>

<li><a href="https://www.youtube.com/watch?v=ZXwsX13eUCw">31.10.2024: Cross-Validation, Double Descent (Part 1)</a></li>
<li><a href="https://www.youtube.com/watch?v=WJR5zx8uBgQ">31.10.2024: Cross-Validation, Double Descent (Part 2)</a></li>
<li><a href="https://www.youtube.com/watch?v=nBZbVmZSL9A">05.11.2024: Statistical Decision Theory (Part 1)</a></li>
<li><a href="https://www.youtube.com/watch?v=0S-hPDbFUzQ">05.11.2024: Statistical Decision Theory (Part 2)</a></li>
<li><a href="https://www.youtube.com/watch?v=jfIudD87rCk">07.11.2024: Discriminative &amp; Generative Methods: QDA, CART (Part 1)</a></li>
<li><a href="https://www.youtube.com/watch?v=t-w8h6Fu9WE">07.11.2024: Discriminative &amp; Generative Methods: QDA, CART (Part 2)</a></li>
<li><a href="https://www.youtube.com/watch?v=cFJD_NKhJMk">12.11.2024: Logistic Regression (Part 1)</a></li>
<li><a href="https://www.youtube.com/watch?v=xBAHYcbsnP0">12.11.2024: Logistic Regression (Part 2)</a></li>
<li><a href="https://www.youtube.com/watch?v=IfoF6IX6DS4">14.11.2024: Multilayer Perceptrons (Part 1)</a></li>
<li><a href="https://www.youtube.com/watch?v=PsEjRxGOYW8">14.11.2024: Multilayer Perceptrons (Part 2)</a></li>
<li><a href="https://www.youtube.com/watch?v=4At4hMZvwSY">19.11.2024: Training of Neural Networks (Part 1)</a></li>
<li><a href="https://www.youtube.com/watch?v=5wOjtmHwaj0">19.11.2024: Training of Neural Networks (Part 2)</a></li>
<li><a href="https://www.youtube.com/watch?v=9TOIh9J1gcE">21.11.2024: Autoencoders &amp; Relation to PCA, Geometric Autoencoder (Philipp Nazari) (Part 1)</a></li>
<li><a href="https://www.youtube.com/watch?v=tGX5ufWx1ZI">21.11.2024: Autoencoders &amp; Relation to PCA, Geometric Autoencoder (Philipp Nazari) (Part 2)</a></li>
<li><a href="https://www.youtube.com/watch?v=nvkeGeh3hUA">26.11.2024: SGD with Momentum, ADAM, Backpropagation (Part 1)</a></li>
<li><a href="https://www.youtube.com/watch?v=xkW6l0QUJW0">26.11.2024: SGD with Momentum. ADAM. Backpropagation. (Part 2)</a></li>
<li><a href="https://www.youtube.com/watch?v=U6vHw8zNMIM">28.11.2024 : Convolutional Neural Networks (CNNs) (Part 1)</a></li>
<li><a href="https://www.youtube.com/watch?v=9TL6CMQDhnU">28.11.2024 : Convolutional Neural Networks (CNNs) (Part 2)</a></li>
<li><a href="https://www.youtube.com/watch?v=ORHDYwtYN8U">03.12.2024: CNNs. Self-Supervision, Representation Learning (Part 1)</a></li>
<li><a href="https://www.youtube.com/watch?v=AvjcSIGtWMY">03.12.2024: CNNs. Self-Supervision, Representation Learning (Part 2)</a></li>
<li><a href="https://www.youtube.com/watch?v=UdEjmYTPGsI">05.12.2024: Attention, Transformers (Part 1)</a></li>
<li><a href="https://www.youtube.com/watch?v=u1jqM6WNejg">05.12.2024: Attention, Transformers (Part 2)</a></li>
<li><a href="https://www.youtube.com/watch?v=TL74w5A66A4">10.12.2024: Large Language Models (Letiția Pârcălăbescu) (Part 1)</a></li>
<li><a href="https://www.youtube.com/watch?v=atzrpGG_rQ4">10.12.2024: Large Language Models (Letiția Pârcălăbescu) (Part 2)</a></li>
<li><a href="https://www.youtube.com/watch?v=KaOrPMQNZB8">12.12.2024: Fine-Tuning LLMs (Letiția Pârcălăbescu)</a></li>
<li><a href="https://www.youtube.com/watch?v=KemFNyjyoSI">12.12.2024: Flow-based Models (Part 1)</a></li>
<li><a href="https://www.youtube.com/watch?v=Ajb2Slvv1hY">17.12.2024: Flow-based Models (Part 2)</a></li>
<li><a href="https://www.youtube.com/watch?v=NC9-b7j1Ltc">17.12.2024: Flow-based Models (Part 3)</a></li>
<li><a href="https://www.youtube.com/watch?v=u_mFZ3gQFzE">19.12.2024: Graph Neural Networks (GNNs): Miracles of Biology (Part 1)</a></li>
<li><a href="https://www.youtube.com/watch?v=MHrF5PnltlA">19.12.2024: Graph Neural Networks (GNNs): Miracles of Biology (Part 2)</a></li>
<li><a href="https://www.youtube.com/watch?v=La1aBIq8sBI">07.01.2025: AI Safety (Lennart Bürger, Erik Jenner) (Part 1)</a></li>
<li><a href="https://www.youtube.com/watch?v=ccyraPdeGgE">07.01.2025: AI Safety (Lennart Bürger, Erik Jenner) (Part 2)</a></li>
<li><a href="https://www.youtube.com/watch?v=gbEaHqJA9vI">09.01.2025: Equivariant ML: symmetries, groups, representations (PeterLippmann) (Part 1)</a></li>
<li><a href="https://www.youtube.com/watch?v=1-Z50VmIf9s">09.01.2025: Equivariant ML: symmetries, groups, representations (PeterLippmann) (Part 2)</a></li>
<li><a href="https://www.youtube.com/watch?v=6-AUh9ZzWXE">14.01.2025: Rotation equivariant Message passing NNs (Part 1)</a></li>
<li><a href="https://www.youtube.com/watch?v=Jrv4gYaMCpM">14.01.2025: Rotation equivariant Message passing NNs (Part 2)</a></li>
<li><a href="https://www.youtube.com/watch?v=CoZUTMjU8C8">16.01.2025: ML in orbital-free density functional theory (Part 1)</a></li>
<li><a href="https://www.youtube.com/watch?v=iyx1C4vaP7k">16.01.2025: ML in orbital-free density functional theory (Part 2)</a></li>
</ul>
</details>


<details class="left" open="">
    <summary><h3> Computer Vision: Foundations (Summer Term 2020) </h3> </summary>

    {% assign link = "https://www.youtube.com/playlist?list=PLuRaSnb3n4kRAbnmiyGd77hyoGzO9wPde" %}
    <ul>
        <li><a href="{{ link }}"> 1.1   Scope of the Lecture | Introduction </a></li>
        <li><a href="{{ link }}"> 1.2   Linear filters | Convolution </a></li>
        <li><a href="{{ link }}"> 1.3   Interactive Semantic Segmentation with ilastik </a></li>
        <li><a href="{{ link }}"> 2.1   Human Vision | Imaging </a></li>
        <li><a href="{{ link }}"> 2.2   Downsampling an Image </a></li>
        <li><a href="{{ link }}"> 2.3   Upsampling | Image Interpolation </a></li>
        <li><a href="{{ link }}"> 3.1   Shallow vs Deep Learning </a></li>
        <li><a href="{{ link }}"> 3.2   Training of a Neural Network (Introduction) </a></li>
        <li><a href="{{ link }}"> 4.1   Convolutional Neural Networks | Image Classification </a></li>
        <li><a href="{{ link }}"> 4.2   Training of a Neural Network | Optimization </a></li>
        <li><a href="{{ link }}"> 4.3   U-net architecture | Semantic Segmentation </a></li>
        <li><a href="{{ link }}"> 5.1   Fundamentals of Instance Segmentation </a></li>
        <li><a href="{{ link }}"> 5.2   Proposal-based Instance Segmentation </a></li>
        <li><a href="{{ link }}"> 5.3   Hough-transform </a></li>
        <li><a href="{{ link }}"> 5.4   Instance Segmentation by Similarity Learning </a></li>
        <li><a href="{{ link }}"> 6.1   Efficiently Solvable Graph Problems (Introduction) </a></li>
        <li><a href="{{ link }}"> 6.2   Shortest Paths | Dijkstra Algorithm </a></li>
        <li><a href="{{ link }}"> 6.3   Shortest Paths | 1D Labeling Problems </a></li>
        <li><a href="{{ link }}"> 6.4   Shortest Paths | Segmented Least Squares </a></li>
        <li><a href="{{ link }}"> 7.1   Dynamic Programming on Trees (Introduction) </a></li>
        <li><a href="{{ link }}"> 7.2   Dynamic Programming on Trees | Message Passing </a></li>
        <li><a href="{{ link }}"> 7.3   Dynamic Programming on Trees | Applications in Computer Vision </a></li>
        <li><a href="{{ link }}"> 8.1   Watershed Algorithm | Clinical Application </a></li>
        <li><a href="{{ link }}"> 8.2   Shortest Path vs. Widest Path | Seeded Segmentation </a></li>
        <li><a href="{{ link }}"> 8.3   Minimax Paths | Prim's Algorithm </a></li>
        <li><a href="{{ link }}"> 8.4   All-pairs Minimax Paths | Minimum Spanning Tree </a></li>
        <li><a href="{{ link }}"> 8.5   Seeded Watershed Segmentation | ilastik Demo </a></li>
        <li><a href="{{ link }}"> 8.6   Watershed Segmentation | Connection to Deep Learning </a></li>
        <li><a href="{{ link }}"> 9.1   Recap of Shortest Path Algorithm </a></li>
        <li><a href="{{ link }}"> 9.2   All-pairs Shortest Paths | Distance Product </a></li>
        <li><a href="{{ link }}"> 9.3   The Algebraic Path Problem </a></li>
        <li><a href="{{ link }}"> 9.4   Infimal Convolution | Euclidean Distance Transform </a></li>
        <li><a href="{{ link }}"> 10.1  Tracking: Introduction and Overview </a></li>
        <li><a href="{{ link }}"> 10.2  Tracking by Assignment | Min-Cost Flow </a></li>
        <li><a href="{{ link }}"> 10.3  (Integer) Linear Programming | Polyhedral Geometry </a></li>
        <li><a href="{{ link }}"> 10.4  Total Unimodularity </a></li>
        <li><a href="{{ link }}"> 11.1  Optimal Transport: Introduction and Motivation </a></li>
        <li><a href="{{ link }}"> 11.2  Discrete Optimal Transport </a></li>
        <li><a href="{{ link }}"> 11.3  Discrete Optimal Transport (cont.) | Sinkhorn Iterations </a></li>
        <li><a href="{{ link }}"> 11.4  Wasserstein Generative Adversarial Networks </a></li>
    </ul>

</details>


<details class="left" open="">
    <summary><h3> Machine Learning (Winter Term 2019) </h3></summary>

    {% assign link = "https://www.youtube.com/playlist?list=PLuRaSnb3n4kTOLHk3a2ySNujmjan_AcZ1" %}
    <ul> 
        <li><a href="{{ link }}"> 1. Introduction and PCA </a></li>
        <li><a href="{{ link }}"> 2. SVD and KDE </a></li>
        <li><a href="{{ link }}"> 3. Mean-Shift and k-Means </a></li>
        <li><a href="{{ link }}"> 4. Classification, k-NN, Cross-Validation, and Decision Trees </a></li>
        <li><a href="{{ link }}"> 5. Decision Trees and Random Forests </a></li>
        <li><a href="{{ link }}"> 6. Bayes Theorem, Statistical Decision Theory, and Quadratic Discriminant Analysis </a></li>
        <li><a href="{{ link }}"> 7. Linear Regression </a></li>
        <li><a href="{{ link }}"> 8. Regularized Linear Regression (Ridge, Lasso, ...) </a></li>
        <li><a href="{{ link }}"> 9. Gaussian Process Regression </a></li>
        <li><a href="{{ link }}"> 10. Logistic Regression and Generalized Linear Models </a></li>
        <li><a href="{{ link }}"> 11. Perceptron and Multi-Layer Perceptron </a></li>
        <li><a href="{{ link }}"> 12. Projection Trick and Function Counting Theorem </a></li>
        <li><a href="{{ link }}"> 13. Backpropagation and Neural Network Training </a></li>
        <li><a href="{{ link }}"> 14. CNNs and Deep Learning Tricks </a></li>
        <li><a href="{{ link }}"> 15. Bayesian Networks/Probabilistic Graphical Models </a></li>
        <li><a href="{{ link }}"> 16. Hidden Markov Models </a></li>
        <li><a href="{{ link }}"> 17. Kalman Filter </a></li>
        <li><a href="{{ link }}"> 18. Guest Lecture (not recorded) </a></li>
        <li><a href="{{ link }}"> 19. Multicut and Correlation Clustering </a></li>
        <li><a href="{{ link }}"> 20. Cluster Analysis </a></li>
        <li><a href="{{ link }}"> 21. Dimension Reduction </a></li>
    </ul>
</details>


<details class="left" open="">
    <summary><h3> Machine Learning for Computer Vision (Winter Term 2017) </h3></summary>

    {% assign link = "https://www.youtube.com/playlist?list=PLuRaSnb3n4kSQFyt8VBldsQ9pO9Xtu8rY" %}
    
    <ul> 
        <li><a href="{{ link }}"> 1. Introduction </a></li>
        <li><a href="{{ link }}"> 2. Undirected Probabilistic Graphical Models </a></li>
        <li><a href="{{ link }}">2.1 MAP &amp; Priors </a></li>
        <li><a href="{{ link }}">2.2 Markov Random Fields </a></li>
        <li><a href="{{ link }}">2.3 Gibbs Sampling </a></li>
        <li><a href="{{ link }}">2.4 MRF as Integer Linear Program (I) </a></li>
        <li><a href="{{ link }}">2.5 MRF as Integer Linear Program (II) </a></li>
        <li><a href="{{ link }}">2.6 Tree-Shaped MRF </a></li>
        <li><a href="{{ link }}">2.7 Belief Propagation </a></li>
        <li><a href="{{ link }}">2.8 Gaussian MRF (I) </a></li>
        <li><a href="{{ link }}">2.9 Gaussian MRF (II) </a></li>
        <li><a href="{{ link }}">3. Neural Networks </a></li>
        <li><a href="{{ link }}">3.1 Perceptrons </a></li>
        <li><a href="{{ link }}">3.2 Back Propagation </a></li>
        <li><a href="{{ link }}">3.3 Introduction to Deep Learning </a></li>
        <li><a href="{{ link }}">3.4 Deep Learning Architectures </a></li>
        <li><a href="{{ link }}">3.5 Natural Gradient Optimization (I) </a></li>
        <li><a href="{{ link }}">3.6 Natural Gradient Optimization (II) </a></li>
        <li><a href="{{ link }}">3.7 Combining Graphical Models &amp; Neural Networks (I) </a></li>
        <li><a href="{{ link }}">3.8 Combining Graphical Models &amp; Neural Networks (II) </a></li>
        <li><a href="{{ link }}">4. Directed Probabilistic Graphical Models </a></li>
        <li><a href="{{ link }}">4.1 Reinforcement Learning </a></li>
        <li><a href="{{ link }}">4.2 Policy Gradient </a></li>
        <li><a href="{{ link }}">6.3 Robotics </a></li>
    </ul>
</details>


<details class="left" open="">
    <summary><h3> Pattern Recognition (Summer Term 2012)</h3></summary>

    Full playlist on <a href="https://www.youtube.com/playlist?list=PLuRaSnb3n4kRDZVU6wxPzGdx1CN12fn0w">youtube</a>.
    <h4>1 Introduction</h4>
    <ul>
        <li><a href="https://www.youtube.com/watch?v=J66RrnZZkOw">1.1 Applications of Pattern Recognition</a></li>
        
        <li><a href="https://www.youtube.com/watch?v=So0W65mUhDM">1.2 k-Nearest Neighbors Classification</a></li>
        
        <li><a href="https://www.youtube.com/watch?v=d_cFYeWxymk">1.3 Probability Theory</a></li>
        
        <li><a href="https://www.youtube.com/watch?v=3BBk6XZR-bk">1.4 Statistical Decision Theory</a></li>

    </ul>
    <h4>2 Correlation measures, Gaussian Models</h4>
    <ul>
        
        <li><a href="https://www.youtube.com/watch?v=SB2fsxbOpk4">2.1 Pearson Correlation</a></li>
        
        <li><a href="https://www.youtube.com/watch?v=PjDBhqZn_1s">2.2 Alternative Correl. Measures</a></li>
        
        <li><a href="https://www.youtube.com/watch?v=8M4repHXa9I">2.3 Gaussian Graphical Models</a></li>
        
        <li><a href="https://www.youtube.com/watch?v=FjzzjC4FouU">2.4 Discriminant Analysis</a></li>
        
    </ul>
    <h4>3 Dimensionality Reduction</h4>
    <ul>        
        <li><a href="https://www.youtube.com/watch?v=FqOQegMkLaM">3.1 Regularized LDA/QDA</a></li>
        
        <li><a href="https://www.youtube.com/watch?v=dkKLvboe1fI">3.2 Principal Component Analysis (PCA)</a></li>
        
        <li><a href="https://www.youtube.com/watch?v=im11lhGQdUg">3.3 Bilinear Decompositions</a></li>
        
    </ul>
    <h4>4 Neural Networks</h4>
    <ul>        
        <li><a href="https://www.youtube.com/watch?v=KjoDnDA4e7s">4.1 History of Neural Networks</a></li>
        
        <li><a href="https://www.youtube.com/watch?v=0xPfjmIhMfs">4.2 Perceptrons</a></li>
        
        <li><a href="https://www.youtube.com/watch?v=K2fehmhhVws">4.3 Multilayer Perceptrons</a></li>
        
        <li><a href="https://www.youtube.com/watch?v=cJn2AS9bCsg">4.4 The Projection Trick</a></li>
        
        <li><a href="https://www.youtube.com/watch?v=v6VBbkNhuTg">4.5 Radial Basis Function Networks</a></li>
        
    </ul>
    <h4>5 Support Vector Machines </h4>
    <ul>        
        <li><a href="https://www.youtube.com/watch?v=rjIac3NxAYA">5.1 Loss Functions</a></li>
        
        <li><a href="https://www.youtube.com/watch?v=BuBxliPuCbg">5.2 Linear Soft-Margin SVM</a></li>
        
        <li><a href="https://www.youtube.com/watch?v=riFEO1pHS7A">5.3 Nonlinear SVM</a></li>
        
    </ul>
    <h4>6 Kernels, Random Forest</h4>
    <ul>        
        <li><a href="https://www.youtube.com/watch?v=A80K2q1EOX4">6.1 Kernels</a></li>
        
        <li><a href="https://www.youtube.com/watch?v=rNGtj2iEw6g">6.2 One Class SVM</a></li>
        
        <li><a href="https://www.youtube.com/watch?v=gdnIqGbqiYs">6.3 Random Forest</a></li>
        
        <li><a href="https://www.youtube.com/watch?v=WE67TSz-a7s">6.4 Random Forest Feature Importance</a></li>
        
    </ul>
    <h4>7 Regression</h4>
    <ul>        
        <li><a href="https://www.youtube.com/watch?v=YCpkE8JgxOo">7.1 Least-Squares Regression</a></li>
        
        <li><a href="https://www.youtube.com/watch?v=Uu1DlAbzuoA">7.2 Optimum Experimental Design</a></li>
        
        <li><a href="https://www.youtube.com/watch?v=6BlekdGsRIk">7.3 Case Study: Functional MRI</a></li>
        
        <li><a href="https://www.youtube.com/watch?v=4jEi7zWxAgo">7.4 Case Study: CT</a></li>
        
        <li><a href="https://www.youtube.com/watch?v=5zg-AdIU5IQ">7.5 Regularized Regression</a></li>
        
    </ul>
    <h4>8 Gaussian Processes </h4>
    <ul>        
        <li><a href="https://www.youtube.com/watch?v=4r463NLq0jU">8.1 Gaussian Process Regression</a></li>
        
        <li><a href="https://www.youtube.com/watch?v=S1zSs-oC3yc">8.2 GP Regression: Interpretation</a></li>
        
        <li><a href="https://www.youtube.com/watch?v=2x9AKPdwaZA">8.3 Gaussian Stochastic Processes</a></li>
        
        <li><a href="https://www.youtube.com/watch?v=RzNHzGV5qcQ">8.4 Covariance Function</a></li>
        
    </ul>
    <h4>9 Unsupervised Learning</h4>
    <ul>        
        <li><a href="https://www.youtube.com/watch?v=NOXTvnCGhRM">9.1 Kernel Density Estimation</a></li>
        
        <li><a href="https://www.youtube.com/watch?v=vluELeCXJkc">9.2 Cluster Analysis</a></li>
        
        <li><a href="https://www.youtube.com/watch?v=Q1oqJSgp_Dk">9.3 Expectation Maximization</a></li>
        
        <li><a href="https://www.youtube.com/watch?v=sLoFim4XDi8">9.4 Gaussian Mixture Models</a></li>
        
    </ul>
    <h4>10 Directed Graphical Models </h4>
    <ul>        
        <li><a href="https://www.youtube.com/watch?v=6Igw7drvqeI">10.1 Bayesian Networks</a></li>
        
        <li><a href="https://www.youtube.com/watch?v=Wosowccw6wY">10.2 Variable Elimination</a></li>
        
        <li><a href="https://www.youtube.com/watch?v=vM7NgjL0Zok">10.3 Message Passing</a></li>
        
        <li><a href="https://www.youtube.com/watch?v=_Xyp7NF0HG4">10.4 State Space Models</a></li>
        
    </ul>
    <h4>11 Optimization</h4>
    <ul>        
        <li><a href="https://www.youtube.com/watch?v=Acv12LfjzH0">11.1 The Lagrangian Method</a></li>
        
        <li><a href="https://www.youtube.com/watch?v=GpXBgIgGzn4">11.2 Constraint Qualifications</a></li>
        
        <li><a href="https://www.youtube.com/watch?v=1OzjSoAwqP4">11.3 Linear Programming</a></li>
        
        <li><a href="https://www.youtube.com/watch?v=rOLLQ7de40M">11.4 The Simplex Algorithm</a></li>
        
    </ul>
    <h4>12 Structured Learning</h4>
    <ul>        
        <li><a href="https://www.youtube.com/watch?v=Un_PIYUuLTw">12.1 StructSVM</a></li>
        
        <li><a href="https://www.youtube.com/watch?v=s_fgsW45a3k">12.2 Cutting Planes</a></li>
    </ul>
</details>


<details class="left" open="">
    <summary><h3> Image Analysis (Summer Term 2013 / 2015). </h3></summary>

    Full playlist on <a href="https://www.youtube.com/playlist?list=PLuRaSnb3n4kSgSV35vTPDRBH81YgnF3Dd">youtube</a>, including some added material (scroll to last entries). 
    <h4>1 Introduction</h4>
    <ul> 
        <li><a href="https://www.youtube.com/watch?v=lJSb8M6sBKM"> Introduction</a></li>
        <li><a href="https://www.youtube.com/watch?v=MpyJK02ts9g&amp;amp;list=PLuRaSnb3n4kSgSV35vTPDRBH81YgnF3Dd"> Human early vision</a></li>
        <li><a href="https://www.youtube.com/watch?v=Ovuq1R0jyrs&amp;amp;list=PLuRaSnb3n4kSgSV35vTPDRBH81YgnF3Dd"> Image representations</a></li>
    </ul>

    <h4>2 Patches in Image Analysis</h4>
    <ul>
        <li><a href="https://www.youtube.com/watch?v=C0zE6WRTKik&amp;amp;list=PLuRaSnb3n4kSgSV35vTPDRBH81YgnF3Dd"> Block Matching </a></li>
        <li><a href="https://www.youtube.com/watch?v=O6E17BXIln4&amp;amp;list=PLuRaSnb3n4kSgSV35vTPDRBH81YgnF3Dd"> Texture Synthesis </a></li>
        <li><a href="https://www.youtube.com/watch?v=k8hS6uTz-Uc&amp;amp;list=PLuRaSnb3n4kSgSV35vTPDRBH81YgnF3Dd"> Non-Local Means for Image Denoising </a></li>
        <li><a href="https://www.youtube.com/watch?v=BlDl6M0go-c&amp;amp;list=PLuRaSnb3n4kSgSV35vTPDRBH81YgnF3Dd"> BM3D for image denoising </a></li>
    </ul>
    
    <h4>3 Fourier Transformation</h4>
    <ul>
        <li><a href="https://www.youtube.com/watch?v=wWc4nPMhJuA&amp;amp;list=PLuRaSnb3n4kSgSV35vTPDRBH81YgnF3Dd"> Unitary transformations </a></li>
        <li><a href="https://www.youtube.com/watch?v=cxv1-LeQ1xk&amp;amp;list=PLuRaSnb3n4kSgSV35vTPDRBH81YgnF3Dd"> The Fourier Transform </a></li>
        <li><a href="https://www.youtube.com/watch?v=ku2HjqEx_G8&amp;amp;list=PLuRaSnb3n4kSgSV35vTPDRBH81YgnF3Dd"> The Discrete Fourier Transform (DFT) </a></li>
        <li><a href="https://www.youtube.com/watch?v=-3QRM1zlP9E&amp;amp;list=PLuRaSnb3n4kSgSV35vTPDRBH81YgnF3Dd"> 2D-DFT: Application to Images </a></li>
    </ul>

    <h4>4 Wavelets</h4>
    <ul>
        <li><a href="https://www.youtube.com/watch?v=bWOv-By70LA&amp;amp;list=PLuRaSnb3n4kSgSV35vTPDRBH81YgnF3Dd"> Fourier Transform </a></li>
        <li><a href="https://www.youtube.com/watch?v=HhsbwHX05xA&amp;amp;list=PLuRaSnb3n4kSgSV35vTPDRBH81YgnF3Dd"> Time Frequency Decompositions </a></li>
        <li><a href="https://www.youtube.com/watch?v=DGUuJweHamQ&amp;amp;list=PLuRaSnb3n4kSgSV35vTPDRBH81YgnF3Dd"> The Wavelet Transform </a></li>
    </ul>

    <h4>5 Images as Topographic Maps</h4>
    <ul>
        <li><a href="https://www.youtube.com/watch?v=A0CoHAOhrWg&amp;amp;list=PLuRaSnb3n4kSgSV35vTPDRBH81YgnF3Dd"> Watershed </a></li>
        <li><a href="https://www.youtube.com/watch?v=O0HkgXB_KY4&amp;amp;list=PLuRaSnb3n4kSgSV35vTPDRBH81YgnF3Dd"> Maximally Stable Extremal Regions  (MSER) </a></li>
        <li><a href="https://www.youtube.com/watch?v=x9ZD32EY_N0&amp;amp;list=PLuRaSnb3n4kSgSV35vTPDRBH81YgnF3Dd"> Mathematical Morphology </a></li>
        <li><a href="https://www.youtube.com/watch?v=YX5Dqax9Yn8&amp;amp;list=PLuRaSnb3n4kSgSV35vTPDRBH81YgnF3Dd"> Minkowski functionals </a></li>
    </ul>

    <h4>6 Gaussian Random Fields</h4>
    <ul>
        <li><a href="https://www.youtube.com/watch?v=vRN_j2j-CC4&amp;amp;list=PLuRaSnb3n4kSgSV35vTPDRBH81YgnF3Dd"> Markov Random Fields (MRFs)  </a></li>
        <li><a href="https://www.youtube.com/watch?v=mTO7D2ZEI0k&amp;amp;list=PLuRaSnb3n4kSgSV35vTPDRBH81YgnF3Dd"> Gaussian Markov Random Fields (GMRF) </a></li>
        <li><a href="https://www.youtube.com/watch?v=5YVw_4vK-Kk&amp;amp;list=PLuRaSnb3n4kSgSV35vTPDRBH81YgnF3Dd"> Intrinsic GMRFs (IGMRF) </a></li>
    </ul>

    <h4>7 Fields of Experts, Discrete MRFs</h4>
    <ul>
        <li><a href="https://www.youtube.com/watch?v=rIWjQ12WcEw&amp;amp;list=PLuRaSnb3n4kSgSV35vTPDRBH81YgnF3Dd"> Factor Graphs </a></li>
        <li><a href="https://www.youtube.com/watch?v=UbQeETing50&amp;amp;list=PLuRaSnb3n4kSgSV35vTPDRBH81YgnF3Dd"> Fields of Experts </a></li>
        <li><a href="https://www.youtube.com/watch?v=wqzKQ3uB6LY&amp;amp;list=PLuRaSnb3n4kSgSV35vTPDRBH81YgnF3Dd"> Discrete-Valued MRFs </a></li>
        <li><a href="https://www.youtube.com/watch?v=Ij8TU_F2eWU&amp;amp;list=PLuRaSnb3n4kSgSV35vTPDRBH81YgnF3Dd"> MAP inference via Integer Linear Programming (ILP) </a></li>
    </ul>

    <h4>8 Binary pairwise MRFs and Graph Cut</h4>
    <ul>
        <li><a href="https://www.youtube.com/watch?v=QsffMqSzo4U&amp;amp;list=PLuRaSnb3n4kSgSV35vTPDRBH81YgnF3Dd"> Integer Linear Programs (continued) </a></li>
        <li><a href="https://www.youtube.com/watch?v=9UAjdUf75Vw&amp;amp;list=PLuRaSnb3n4kSgSV35vTPDRBH81YgnF3Dd"> Pseudo Boolean Functions (PBFs) </a></li>
        <li><a href="https://www.youtube.com/watch?v=wAxBsl3EQDU&amp;amp;list=PLuRaSnb3n4kSgSV35vTPDRBH81YgnF3Dd"> Quadratic PBFs with submodular terms </a></li>
        <li><a href="https://www.youtube.com/watch?v=MGgUqnxPNws&amp;amp;list=PLuRaSnb3n4kSgSV35vTPDRBH81YgnF3Dd"> Max-Flow / Min-Cut </a></li>
        <li><a href="https://www.youtube.com/watch?v=qGAHei9KPto&amp;amp;list=PLuRaSnb3n4kSgSV35vTPDRBH81YgnF3Dd"> Graph Cuts</a></li>
    </ul>

    <h4>9 Structured learning</h4>
    <ul>
        <li><a href="https://www.youtube.com/watch?v=9Ty3pIRqcv4&amp;amp;list=PLuRaSnb3n4kSgSV35vTPDRBH81YgnF3Dd"> Introduction </a></li>
        <li><a href="https://www.youtube.com/watch?v=GZpmslv1mBU&amp;amp;list=PLuRaSnb3n4kSgSV35vTPDRBH81YgnF3Dd"> Example model: Tracking by assignment </a></li>
        <li><a href="https://www.youtube.com/watch?v=B6DNve44Hmg&amp;amp;list=PLuRaSnb3n4kSgSV35vTPDRBH81YgnF3Dd"> Structured Support Vector Machine (structSVM) </a></li>
        <li><a href="https://www.youtube.com/watch?v=ZzzzC5BhK8M&amp;amp;list=PLuRaSnb3n4kSgSV35vTPDRBH81YgnF3Dd"> Structured Learning: Applications </a></li>
    </ul>
    
    <h4>10 Light Fields and Compressive Sensing </h4>
    <ul>
        <li><a href="https://www.youtube.com/watch?v=q_zVV89nU3g&amp;amp;list=PLuRaSnb3n4kSgSV35vTPDRBH81YgnF3Dd"> Light Fields </a></li>
        <li><a href="https://www.youtube.com/watch?v=d0VTKYNJtCU&amp;amp;list=PLuRaSnb3n4kSgSV35vTPDRBH81YgnF3Dd"> Coded Aperture Imaging</a></li>
        <li><a href="https://www.youtube.com/watch?v=MxQWZWE4OSU&amp;amp;list=PLuRaSnb3n4kSgSV35vTPDRBH81YgnF3Dd"> Compressive Sensing</a></li>
    </ul>
</details>
    
