---
layout: default
---

{% capture floatcontent %}

{% include portrait.html lookup=page.slug %}

<div>
  {% for link in page.links %}
    {% assign key = link[0] %}
    {% assign value = link[1] %}
    {% include button.html type=key link=value style="bare" %}<br>
  {% endfor %}

  {% assign member_infos = site.data.members-list[page.name] %}
  {% for info in member_infos %}
    {% assign key = info[0] %}
    {% assign value = info[1] %}
    {% if key != "room" %}
      {% include button.html type=key link=value style="bare" %}<br>
    {% endif %}
  {% endfor %}

  {% include button-nolink.html type="room" text=member_infos.room style="black" %}<br>
</div>

{% endcapture %}

{% include float.html content=floatcontent %}

{{ content }}

{% assign aliases = page.aliases
  | default: page.name
  | default: page.title
  | join: ","
  | split: ","
  | array_filter
%}

{% capture search -%}
  publications/?search={% for alias in aliases %}"{{ alias }}" {% endfor %}
{%- endcapture %}

<!--
<p class="center">
  <a href="{{ search | relative_url }}">
    Search for {{ page.name | default: page.title }}'s papers on the publications page
  </a>
</p>
-->

{% capture search -%}
  blog/?search={{ page.name }}
{%- endcapture %}

<!--
<p class="center">
  <a href="{{ search | relative_url }}">
    See {{ page.name | default: page.title }}'s posts on the Blog page
  </a>
</p>
-->
